
// background-color: #2e3039;

.overlay {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2e303977;
  overflow: hidden !important;
  z-index: 50;
  position: relative;
}

.selectionWheel {
  --width: 100vh;
  --height: 100vh;
  --borderColor: hsla(0, 0%, 100%, 0.5);
  width: var(--width);
  height: var(--height);
  border-radius: 100%;
  position: relative;
  overflow: hidden !important;

}

.selectionWheel--center {
  width: calc(var(--width) * 0.25);
  height: calc(var(--height) * 0.25);
  position: absolute;
  transform-origin: center center;
  transform: translateY(150%) translateX(150%);
  border-radius: 100%;
  background-color: #2e3039;
  pointer-events: none;
  border: 5px solid #fff;
  outline: 10px solid var(--borderColor);
  outline-offset: -20px;
  z-index: 100;
}

/* Inner */
.inner {
  position: absolute;
  box-sizing: border-box;

  width: calc(var(--width) / 2);
  height: calc(var(--width) / 2);
  transform-origin: bottom right;

  display: flex;
  justify-content: center;
  align-items: center;



  p {
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 66px;
    font-style: normal;
  }
}

.inner-left-top {
  border-right: 2.5px solid var(--borderColor);
  border-bottom: 2.5px solid var(--borderColor);
  transform: rotate(45deg);

  p {
    transform: rotate(-45deg);
  }
}

.inner-right-top {
  border-right: 2.5px solid var(--borderColor);
  border-bottom: 2.5px solid var(--borderColor);
  transform: rotate(135deg);

  p {
    transform: rotate(-135deg);
  }
}

.inner-right-bottom {
  border-right: 2.5px solid var(--borderColor);
  border-bottom: 2.5px solid var(--borderColor);
  transform: rotate(-135deg);
  p {
    transform: rotate(135deg);
  }
}

.inner-left-bottom {
  border-bottom: 2.5px solid var(--borderColor);
  border-right: 2.5px solid var(--borderColor);
  transform: rotate(-45deg);

  p {
    transform: rotate(45deg);
  }
}

/* Outer */

.hoveritems {
}

.triangle {
  // border: 1px solid red;
  overflow: hidden !important;
  transition: 0.3s;
}
.triangle:hover {
  background-color: rgba(0, 0, 255, 0.356);
}

.left-top {
  left: -50vw;
  top: -50vh;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(45deg) scale(1.2);
}

.right-top {
  left: -50vw;
  top: -50vh;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(135deg) scale(1.2);
}

.right-bottom {
  left: -50vw;
  top: -50vh;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(-135deg) scale(1.2);
}

.left-bottom {
  left: -50vw;
  top: -50vh;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform-origin: bottom right;
  transform: rotate(-45deg) scale(1.2);
}
