@import url("https://fonts.cdnfonts.com/css/config-condensed");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
}

#root {
  background: transparent;
}

body {
  background: #f0f0f0;
  overflow: hidden !important;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4d4d1;
}

.App {
  font-family: "Config Condensed", sans-serif;

  background-image: url(./assets/mercy_cleanup.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 1080px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px;
}

.text__main {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;

  div {
    padding: 2px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
  }
  h3 {
    font-size: clamp(16px, 3vw, 32px);

    color: white;
  }
}
